In [11]:
pip show treinta-redshift

Name: treinta_redshift
Version: 1.6
Summary: paquete que permite interactuar pandas con redshift
Home-page:
Author: cristian.pinela
Author-email: cristian.pinela@treinta.co
License: LICENSE
Location: /Users/andres.moreno/git-hub/libraries/treinta_redshift/venv/lib/python3.9/site-packages
Requires: boto3, botocore, numpy, pandas, pyarrow
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [17]:
from treinta_redshift import query_to_dataframe, execute_SP

query = f"""SELECT * FROM landing_zone.pruebas_andres.match_insitu_merchant;"""
stored_procedure = f"""sp_pruebas_andr"""
try:
    status = execute_SP(store_procedure=stored_procedure, schema='b2b_ops', database='data_production', db_user="ms_high_priority")
except Exception as e:
    print('hola')
    print(f"Error: {e}")

query_to_dataframe

Current status: FAILED
hola
Error: ERROR: procedure data_production.b2b_ops.sp_pruebas_andr() does not exist
  Hint: No procedure matches the given name and argument types. You may need to add explicit type casts.

In [12]:
def dataframe_to_redshift(df, table, schema, bucket="redshift-python-datalake", database='landing_zone', region_name='us-west-2', endpoint='data_lake', object_name=None, db_user='admintreinta', cluster_identifier='redshift-data'):
    # Aseg√∫rate de que todos los argumentos se pasen por nombre
    s3_object_path = dataframe_to_s3(df=df, bucket=bucket, endpoint=endpoint, region_name=region_name, object_name=object_name)
    output = load_s3_to_redshift(table=table, schema=schema, s3_object_path=s3_object_path, database=database, cluster_identifier=cluster_identifier, db_user=db_user, region_name=region_name)
    return output

In [2]:
dataframe_to_redshift()

In [10]:
DATA_1 = query_to_dataframe("SELECT * FROM landing_zone.public.frequency;", cluster_identifier = 'redshift-data', database = "landing_zone", db_user = 'admintreinta')
DATA_1

Current status: FINISHED

   id months_frequency discount
0   1                1        0
1   3               12      0.4
2   2                6     0.25

In [13]:
dataframe_to_redshift(DATA_1,'landing_zone','public')

        COPY landing_zone.public.landing_zone
        FROM 's3://redshift-python-datalake/data_lake/2024/03/18/None_2024_03_18_16_07_01_272426.csv.gz'
        IAM_ROLE default
        delimiter ','
        IGNOREHEADER 1
        GZIP
        CSV;

Estado actual: FAILED
Error al truncar la tabla: ERROR: Cannot COPY into nonexistent table landing_zone

{'ClusterIdentifier': 'redshift-data',
 'CreatedAt': datetime.datetime(2024, 3, 18, 16, 7, 3, 91000, tzinfo=tzlocal()),
 'Database': 'landing_zone',
 'DbUser': 'admintreinta',
 'Id': 'd88c20cb-9376-47c7-acb2-d47f023797f1',
 'ResponseMetadata': {'RequestId': 'd88c20cb-9376-47c7-acb2-d47f023797f1',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'd88c20cb-9376-47c7-acb2-d47f023797f1',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '160',
   'date': 'Mon, 18 Mar 2024 21:07:02 GMT'},
  'RetryAttempts': 0}}